.button-container{
    button{
        background: #B7076B;
        border-radius: 7px;
        font-family: 'Karla';
        font-style: italic;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin-top: 20px;
        border: none;
        width: 178px;
        height: 52px;
    }
}